repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.10
  hooks:
      - id: ruff
        name: ruff
        entry: ruff check
        types: [python]
        args: [--fix]
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        types: [python]
    
